{% extends 'base/main.html' %}

{% load static %}

{% block content %}

<section class="order" id="order">

    <h1 style="margin-top: 45px;" class="heading"> Food Form </h1>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {% for form in forms %}
        <div class="inputBox">
            <div class="input">
                <span>{{form.label}}</span>
                {{form}}
            </div>
            
        </div>
        {% endfor %}
        

        <input type="submit" value="Add" class="btn">

    </form>

</section>

{% endblock %}