{% extends 'base/main.html' %}

{% load static %}

{% block content %}

<section class="order" id="order">

    <h1 style="margin-top: 45px;" class="heading"> Login </h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div style="margin-top: 20px; margin-bottom: 20px;" class="inputBox">
            <div class="input">
                <span>your name</span>
                <input type="text" placeholder="enter your name" name="username">
            </div>
            <div class="input">
                <span>your password</span>
                <input type="text" placeholder="enter your password" name="password">
            </div>
        </div>
        

        <input type="submit" value="Login" class="btn">

        {% if messages %}

            {% for message in messages %}

            <p style="text-align: center; font-size: 10px; color: red;">{{message}}</p>

            {% endfor %}

        {% endif %}

        <p style="text-align: center; font-size: 20px;">Haven't account?</p>
        <p style="text-align: center; font-size: 20px;"><a href="{% url 'register' %}">Sign In</a></p>

    </form>

</section>

{% endblock %}